*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    height: 50vh;
    width: 500px;
    margin: 0 auto;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.container h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.container p{
    margin-bottom: 1rem;
}
.container button{
    padding: 1rem 0;
    font-size: larger;
    font-weight: bolder;
    border:none;
    color: green;
    cursor: pointer;
    border-radius: 4px;
    background-color:rgb(219, 216, 216);
}

.container button:hover{
    font-size: 1.5rem;
    text-shadow: 2px 2px chartreuse;
}

.outcome{
    margin-top: 3rem;
    text-align: left;
}



#winnerDeclaration{
    color: rgb(10, 190, 121);
    font-size: 1.1rem;
}